<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>ionic4-auto-complete</ion-card-subtitle>
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>ionic4-auto-complete</ion-card-subtitle>
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>ionic4-auto-complete</ion-card-subtitle>
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>ionic4-auto-complete</ion-card-subtitle>
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>ionic4-auto-complete</ion-card-subtitle>
        <ion-card-title>Welcome</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
